.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("../../public/Assets/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    height: 40vh;
}

.logo{
    width: 70%;
    margin-left: 13%;
    margin-top: 2vh;
    height: 10vh;
    background-image: url("../../public/Assets/presentationlogo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.regCon {
    width: 30%;
    height: auto;
    max-height: 68vh;
    background-color: #a7a7a722;
    backdrop-filter: blur(12px) ;
    -webkit-backdrop-filter: blur(12px) ;
    margin-top: 25vh;
    border-radius: 6px;
    box-shadow: -8px 11px 29px -13px rgba(83, 83, 83, 0.38);
    -webkit-box-shadow: -8px 11px 29px -13px rgba(83, 83, 83, 0.38);
    -moz-box-shadow: -8px 11px 29px -13px rgba(83, 83, 83, 0.38);
}

h2, h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
}

input{
background-color: transparent !important;
    border: none;
    outline: none;
    height: 3vh;
    margin-bottom: 2vh;
    margin-left: 3.5%;
    padding-left: 2%;
    transition:all .5s ease;
    position: relative;
    border-bottom: 2px solid white;
    
}

.err{
    border-bottom: 3px solid red;
}

.norm{
    border-bottom: 2px solid white; 
}

::placeholder{
    color: white;
}

input{
    color: white;
}




#first, #last{
    width: 40%;
}

#username{
    width: 60%;
}

#mail, #phone, .pass, #passW{
    width: 90%;
}

button{
    width: 80%;
    height: 4vh;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 8px;
    transition: all .4s ease;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

button:hover{
    transform: scale(1.2);
}






.smalltext{
    font-size: 10px;
    text-align: center;
    color: white;
}



